{% extends 'base.html' %}

{% block head %}
<title>MoodZik</title>
{% endblock %}

{% block body %}
<div class="container ml-5 mr-5 pt-5">
  <div class="row ml-5">
    <div class="col-4 mt-5">
      <img class="text-center mt-5" src="/static/images/logo.png" style="width: 600px; height:600px;"></img>
      <div class="ml-5 pl-5">
        <a href="/generating" class="mt-5 btn btn-info btn-lg" style = "margin-left:10rem;">
          <span class="glyphicon glyphicon-headphones"></span>
          Generate MoodZik
        </a>
      </div>
    </div>
    <div class="col-4">

    </div>
    <div class="col-3 mt-5 pt-5">
      <iframe class="mt-5 pt-5" src="/camera" style="width: 650px; height: 550px; border:0;"></iframe>
    </div>
  </div>
</div>
{% endblock %}