{% extends 'base.html' %}

{% block head %}
<title>Generating..</title>
{% endblock %}

{% block body %}
<div class="container container-table">
  <div class="row vertical-center-row pt-5 mt-5">
    <img  src="./static/images/twitter_header_photo_2.png" style="width: 1000px; height:300px;"></img> 
    <div class="text-center mr-5 pr-5 mt-5 display-1">Please wait while we make you some moodzik...</br> <span class="display-4">Waiting time: ~60 seconds</span></div>
  </div>
</div>
<!-- <div class="container">
  <h1 style="text-align: center; color:#41444b"></h1>
</div> -->
<script>
  window.location.href = '/loading';
</script>

{% endblock %}