{% extends 'base.html' %}

{% block head %}
<title>Playing</title>
{% endblock %}

{% block body %}
<div class="container container-table">
  <div class="row vertical-center-row pt-5 mt-5">
    <div class="text-center mt-5 display-1">
      <img src="/static/images/twitter_header_photo_2.png" style="width: 1000px; height:300px;"></img>
      </br>
      <a href="/" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-stop"></span> Stop and Regenerate
      </a>
      <a href="/music" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-repeat"></span>
      </a>
      <a href="/music/pause" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-pause"></span>
      </a>
    </div>
  </div>
</div>
{% endblock %}