{% extends 'base.html' %}

{% block head %}
<title>Your nice face!</title>
{% endblock %}

{% block body %}
<div class="content">
  <h1 class="shadow" style="text-align: center">MoodZik</h1>
  <!-- <a href=/music><input type=”button” value=Play></a>  -->
  <a href="/" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-stop"></span> Stop and Regenerate
  </a>
  <a href="/music" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-repeat"></span> 
  </a>
  <!-- <a href="/music/pause" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-pause"></span>
  </a> -->
  <a href="/music/play" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-play"></span>
  </a>

</div>
{% endblock %}